nav {
    div{
        padding-top: 1em;
        padding-bottom: 1em;
        margin-right: 2em;
        a {
            color: white;
            font-family: 'boogaloo', cursive;

            i{
              color:green;
            }
        }
    }
}

button{
  color: gray;
}
